<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">

<head th:replace="common :: meta_header('ホーム',~{::link},~{::script})">
    <!-- このページ固有で読み込むCSS/JS -->
    <link rel="stylesheet" th:href="@{/css/home.css}" />

    <!-- websocket関連 -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="container">
        <div th:replace="common :: header"></div>
        <h4 th:if="${isAllPass}">ゲーム終了しました！</h4>
        <p th:if="${isAllPass}" th:text="${minPlayer.getColor()} + 'の' + ${minPlayer.getName()} + 'の勝利です。'"></p>

        <!-- ゲーム盤 -->
        <table class="inline-top">
            <tr th:each="row, statY : ${cells}">
                <td th:each="cell, statX : ${row}" class="cell" th:style="'background-color: #' + ${cell}">
                </td>
            </tr>
        </table>

        <!-- プレイヤー達の情報-->
        <div class="inline-top">
            <div class="card" >
                <div class="card-body">
                    <table class="table players-table">
                        <thead>
                            <tr>
                                <th>色</th>
                                <th>名前</th>
                                <th>ポイント</th>
                                <th>残数</th>
                                <th>パス有無</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="info : ${playersInfo}">
                                <td th:text="${info.getColor()}"></td>
                                <td th:text="${info.getName()}"></td>
                                <td th:text="${info.getPoint()}"></td>
                                <td th:text="'残り' + ${info.getBlockZansu()} + '個'"></td>
                                <td th:text="${info.isPass() == true}? 'パス' : ''"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr />

        <div th:unless="${isAllPass}">

            <!-- メッセージ -->
            <p th:if="${isLoginUserNow}">あなたの番です。置きたいブロックを選択してください。</p>
            <p th:unless="${isLoginUserNow}">「<span th:text="${nowPlayerName}"></span>」の番です。お待ちください。</p>

            <!-- 手持ちのブロック -->
            <table style="display: inline-block;">
                <tr th:each="row : ${nexts}">
                    <td th:each="cell : ${row}" class="cell" th:style="'background-color: #' + ${cell.getColor()}">
                        <a th:href="@{/game/kouho(block=${cell.getBlockType()}, id=${id})}" th:if="${cell.isDefault() == false && isLoginUserNow}">
                            <div class="cellBlock"></div>
                        </a>
                    </td>
                </tr>
            </table>

            <hr />
            <a th:if="${isLoginUserPass}" class="btn btn-danger" th:href="@{/game/oku(block=${0}, id=${id}, x=${0}, y=${0}, angle=${0}, flip=${flip}, pass=${true}, player=${nowPlayer})}">
                パスする
            </a>
        </div>

        <div th:if="${isAllPass}">
            <a class="btn btn-primary" th:href="@{/game/index}">
                閉じる
            </a>
        </div>

    </div>

    <script th:inline="javascript">
        var timerFunc = function() {
            console.log('timer!');
            var autoUrl = /*[[${cpuHandUrl}]]*/ null;
            if (autoUrl) {
                window.location.href = autoUrl;;
            }
        }
        setTimeout(timerFunc, 3000);
        onload = function() {
            var id = /*[[${id}]]*/ null;
            connect(id);
        }
    </script>

</body>

</html>
