td {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    text-align: center;
}

.cell0 {
    background-color: lightgray;
}

.cell1 {
    background-color: red;
}
.cell11 {
    background-color: red;
    opacity: 0.55;
}



.cell2 {
    background-color: blue;
}

.cell3 {
    background-color: yellow;
}

.cell4 {
    background-color: green;
}

a {
    font-size: small;
    text-decoration: none;
    display: blcok;
    width: 100%;
    height: 100%;
}
.cellBlock {
    width: 15px;
    height: 15px;
}

.select-cells {
    display: inline-block;
    vertical-align: top;
}