<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Blocks by Spring Boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/css/home.css}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Blocks by Spring Boot</h1>

        <!-- ゲーム盤 -->
        <table class="inline-top">
            <tr th:each="row, statY : ${cells}">
                <td th:each="cell, statX : ${row}" class="cell" th:style="'background-color: #' + ${cell}">
                </td>
            </tr>
        </table>
        <hr />

        <!-- 手持ちのブロック -->
        <table style="display: inline-block;">
            <tr th:each="row : ${nexts}">
                <td th:each="cell : ${row}" class="cell" th:style="'background-color: #' + ${cell.getColor()}">
                    <a th:href="@{/kouho(block=${cell.getBlockType()}, id=${id})}" th:if="${cell.isDefault() == false}">
                        <div class="cellBlock"></div>
                    </a>
                </td>
            </tr>
        </table>

        <hr />

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" />
        </form>
    </div>

</body>

</html>